#header img{
    display:inline-block;
	width: 100%;
    margin: 0 auto;
}					 
#navbar {padding: 40px;
  box-shadow: 0 75px 0px 0px #2fbefa inset;
  text-align: center;
}
#navbar #portfolio, #navbar #resume, #navbar #academic, #navbar #contact {					
					margin-left: -10px;
					padding: 100px;
}
#navbar li {display: inline;
			font-size: 24px;
		 	font-family: Gotham, Helvetica, sans-serif;
}

#navbar a:link {color: #000000;
				text-decoration: none;
}
#navbar a:hover {color: #ffffff;
}
#navbar a:visited {color: #df0003;
}
#body a#resume {color: #ffffff;
}
#slider_content1, #slider_content2, #slider_content3, #slider_content4, #slider_content5, #slider_content6, #slider_content7, #slider_content8, #slider_content9
{
        line-height: 15px;
        font-family: 'EB Garamond', sans-serif;
        width:auto;
        position:absolute;
        bottom:0;
        right:0;
        display:none;
        z-index:11;
}
#footer {border-top: 5px solid;
		 padding-top: 10px;
}

	 
